# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
deploy/app01/app
deploy/k8sing/k8sing
deploy/sampleapp/app
deploy/k8sgw/k8sgw
